body{
text-align: left;
background-color: rgb(76, 73, 82);
color: gainsboro;
}
h1{
    color: white;
    text-align: center;
}
label {
    font-weight: bold;
    display: block;
    padding: 1rem 1rem;
}
hr{
    border:none;
    height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px gainsboro;
    margin: -50px auto 10px;
    padding-bottom: 1rem 1rem; 
}
input{
    display: block;
  height: 30px;
  width: 40%;
}
button{
    
    font-weight: bold;
}
#output-box{
    padding: 1rem 1rem;
    color: gainsboro;
}